    <footer  class="footnote footnote-tiffany">
        <div class="container">
                <!-- <a class="foot-item" href="mailto:{{ site.email }}" target="_blank"><span class="octicon octicon-mail"></span></a>
                <a class="foot-item" href="https://github.com/{{ site.github.username }}" target="_blank"><span class="octicon octicon-mark-github"></span></a>
                <a class="foot-item" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><span class="octicon octicon-rss"></span></a>
                <a class="foot-item" href="{{ '/link/' | prepend: site.baseurl | prepend: site.url }}"><span class="octicon octicon-link-external"></span></a> -->
                &nbsp;
                <a href="http://zhanghuan.top"><span class="word-keep">&copy; zhanghuan</span></a>
				<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278636915'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1278636915%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
    </footer>
	<script type="text/javascript" src="{{'/static/other/jquery.min.js'| prepend:site.baseurl | prepend: site.url  }}" ></script>
	<script type="text/javascript" src="{{'/static/other/bootstrap.min.js'| prepend:site.baseurl | prepend: site.url  }}" ></script>
    <!-- <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="{{'/static/js/script.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/valine/1.4.9/Valine.min.js"></script>
    
	<script>
		new Valine({
				el: '#vcomments',
				appId: '7eWo48zbUxV2emG5eQ1BVGGQ-gzGzoHsz',
				appKey: '7NSubwcLiyIFwAQbIUhPnb5s',
				avatar: 'monsterid',//小怪物头像
				placeholder: "请留下您的评论..."
				
			})


	</script>
    {% for script in page.scripts %}<script type="text/javascript" src="{{'/static/js/' | append:script | prepend:site.baseurl | prepend: site.url  }}"></script>
    {%endfor%}
